*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{    
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container{
    display: flex;
}

[id*="unit"]{
    width: 200px;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid hotpink;
}

[id*="unit"] *{
    margin: 5px;
    padding: 5px;
}

[id*="unit"] h4{
    border: 1px solid black;
    width: 100px;
    text-align: center;
}

[id*="unit"] button{
    width: 75px;
    margin: 2px;
    padding: 2px;
}

.playstop{
    background-color: green;
}

.record{
    .record{
    text-align: center;
}