*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{    
    display: flex;
    flex-direction: column;
    align-items: center;
}

#stat{
    display: flex;
    flex-direction: row;
}

[id*="stats"]{
    width: 200px;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid hotpink;
}

.input{
    display: flex;
    flex-direction: column;
    justify-content: center;
}